@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.special-card {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border-radius: 1rem;
    font-size: 4rem;
    font-weight: bold;
}